:root {
  --margin-28: 28px;
  --margin-48: 48px;
  --padding-5: 5px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-40: 40px;
  --font-18: 18px;
  --font-20: 20px;
  --font:'Nunito', sans-serif;
  --demi-bold: 600;
  --bold: 700;

  --dark-red: #cc0000;
  --light-grey: #f3f3f3;
  --purple: #5e6ec9;
  --dark-blue: rgb(17, 97, 201);
  --grey: #c5c5c5;
  --black: #111111;
  --white: #ffffff;
}

.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  width: 100%;
  height: 60px;
}




.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow:  2px 4px 4px var(--grey);
  margin: var(--margin-28);
}

.product__img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 14px 14px;
}



.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  padding: var(--padding-20);
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 60px;
}
